.footer {
    margin-top: 0;
    border-top: 1px solid var(--mantine-color-dark-5);
    background-color: #1A1B1E;
    /* Dark footer */
    padding-top: 50px;
    padding-bottom: 50px;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 36em) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.info {
    color: white;
}